* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


.main-page {
    background-color: #212121;
    color: white;
    height: 100vh;

  }
  
  .filter-green{
    filter: invert(48%) sepia(79%) saturate(400%) hue-rotate(86deg) brightness(78%) contrast(119%);
  }
  
  nav {
    font-size: 1.5rem;
  }
  
  a {
    color: green;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
  }

  #logo-perfil {
    float: right;
  }