.register-page {
    background-color: #212121;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }  


  form {
    text-align: center;
    padding-bottom: 50px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .title {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 500px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .submit-btn,
  .google-btn {
    display: block;
    width: 100%;
    max-width: 300px;
    margin-top: 30px;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover,
  .google-btn:hover {
    background-color: #555;
  }
  

  .boton-inicio{
    background-color: #1a7333;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
    margin-top: 20px;
  }
  
  .boton-inicio:hover {
    background-color: #154924;
  }